body {
  background-color: #000;
}

.custom_top_nav {
  background-color: #151516!important;
}

.custom_lower_nav {
  background-color: #000!important;
  justify-content: center;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin: 0;
    padding: 0;
}

nav {
  padding-bottom: 0;
  margin-bottom: 0;
}

.slider {
  display: flex;
  justify-content: center;
}

.carousel {
  max-width: 1140px;
}

.navbar-expand-sm {
  align-content: center;
  text-align: center;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.updates {
  color: #fff;
  margin: 3rem auto 0 auto;
  max-width: 1140px;
  padding-left: 3rem;
}
