body {
  background-color: #000;
}

.custom_top_nav {
  background-color: #151516!important;
}

.custom_lower_nav {
  background-color: #000!important;
  justify-content: center;
}

hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
    margin: 0;
    padding: 0;
}

nav {
  padding-bottom: 0;
  margin-bottom: 0;
}

img {
  max-width: 1140px;
}

.slider {
  display: flex;
  justify-content: center;
}

.carousel {
  max-width: 1140px;
}

.navbar-expand-sm {
  align-content: center;
  text-align: center;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.updates {
  color: #fff;
  background-color: #000!important;
}

.updates-brand {
  font-size: 3rem!important;
}

.latest-updates {
  display: flex;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto 0 auto;
  justify-content: space-around;
}

.updates-item img {
  border-radius: 25px 25px 0 0;
  width: 350px;
}

.updates-item-footer {
  background-color: #151516!important;
  border-radius: 0 0 25px 25px;
  padding-left: 0.75rem;
  color: #888;
  margin-bottom: 2rem;
}

.updates-item h2 {
  font-weight: normal;
  font-size: 2rem;
  padding: 0.75rem;
}

footer {
  background-color: #151516!important;
}
